{% macro displayCarouselItems(breaking_list) %}    
{% for breaking_news in breaking_list %}
{% if breaking_news.imageurl==breaking_list[0].imageurl %}
{% else %}
<div class="item">
  <img src="{{breaking_news.imageurl}}" alt="...">
  <div class="carousel-caption">
      <p><a href="{{breaking_news.url}}" target="_blank">{{breaking_news.title}}</a></p>                                    
  </div>
</div>
{% endif %}
{% endfor %}  
{% endmacro %}

{% macro displaySourcesList(sources_list)%}
{% for sources in sources_list%}
<div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <div class="language">{{sources.language}}</div>
      <a href={{sources.url}} target="_blank"><h5 class="card-title">{{sources.name}}<span class="tooltiptext">Visit {{sources.name}}</span></h5></a>
      <h5 class="card-subtitle mb-8 text-muted">{{sources.category}}</h5>
      <p class="card-text">{{sources.description}}</p>
      <br>
      <a href="/source/{{sources.id}}" class="card-link">View articles</a>
      <br>
    </div>
  </div>
</div>
{%endfor%}
{% endmacro %}

{% macro displayArticles(articles_list) %}
{% for article in articles_list%}
<div class="col-md-4">
  <div class="card">
    <img src="{{article.imageurl}}" class="card-img-top img-responsive" alt="article image">
    <div class="card-body">
      <h4 class="card-text">{{article.title}}</h4>
      <p> published on: {{article.publishedAt}}</p>
      <a href={{article.url}} target="_blank" class="card-link">Read article</a>
    </div>
  </div>
</div>
{% endfor %}
{% endmacro %}

{% macro displayKeyword(keyword_list) %}
{% for keyword in keyword_list%}
<div class="col-md-4">
  <div class="card">
    <img src="{{keyword.imageurl}}" class="card-img-top img-responsive" alt="article image">
    <div class="card-body">
      <h4 class="card-text">{{keyword.title}}</h4>
      <p> published on: {{keyword.publishedAt}}</p>
      <a href={{keyword.url}} target="_blank" class="card-link">Read article</a>
    </div>
  </div>
</div>
{% endfor %}
{% endmacro %}