{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/search.css')}}" type="text/css">
{% endblock %}
{% block content %}
<div class="row">
    <div class="header col-md-3">
        <a href="/">
            <h1 class="visible">Popote <br>News</h1>
            <h1 class="not-visible">Popote News</h1>
        </a>
        <h5>Search, Explore, Discover
        </h5>
        <div class="footer text-center">
            <a href="https://newsapi.org/" target="_blank"><p>Powered by NewsAPI</p></a> 
        </div>
    </div>
    <div class="col-md-9">
        <h3 class="text-center">TOP ARTICLES ABOUT {{display_keyword}}</h3>
        <hr>
        <br>
        <div class="articles">
            {{ macro.displayKeyword(keyword)}}
        </div>
      </div>
</div>
{% endblock %}